{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% include 'default/productsList.html.twig'%}
        </div>
    </div>
{% endblock %}

